*.rbc
capybara-*.html
.rspec
/db/*.sqlite3
/db/*.sqlite3-journal
/db/*.sqlite3-[0-9]*
/public/system
/coverage/
/spec/tmp
*.orig
rerun.txt
pickle-email-*.html

# Ignore all logfiles and tempfiles.
.DS_Store
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# TODO Comment out this rule if you are OK with secrets being uploaded to the repo
config/initializers/secret_token.rb
config/master.key

# Only include if you have production secrets in this file, which is no longer a Rails default
# config/secrets.yml

# dotenv
# TODO Comment out this rule if environment variables can be committed
.env

## Environment normalization:
/.bundle
/vendor/bundle

# these should all be checked in to normalize the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc

# if using bower-rails ignore default bower_components path bower.json files
/vendor/assets/bower_components
*.bowerrc
bower.json

# Ignore pow environment settings
.powenv

# Ignore Byebug command history file.
.byebug_history

# Ignore node_modules
node_modules/

# Ignore precompiled javascript packs
/public/packs
/public/packs-test
/public/assets

/public/sitemap.xml.gz

# Ignore yarn files
/yarn-error.log
yarn-debug.log*
.yarn-integrity

# Ignore uploaded files in development
/storage/*
!/storage/.keep

# Ignore test reports
/test/reports/*

# Ignore solr snapshots
/solr/snapshots/*
!/solr/snapshots/.keep

# Ignore /public/uploads, except chosen fixtures
/public/uploads/*
!/public/uploads/spotlight/exhibit_thumbnail/image/8/war_posters.jpg
!/public/uploads/spotlight/exhibit_thumbnail/image/24/medical.jpg
!/public/uploads/spotlight/featured_image/image/12/propoganda.jpg
!/public/uploads/spotlight/featured_image/image/19/wwii.jpg
!/public/uploads/spotlight/featured_image/image/20/wwi.jpg
!/public/uploads/spotlight/temporary_image/image/32/uptownTheatre.png

# Ignore Universal Viewer
public/uv/*

# Redis database files, should they end up outside tmp/
*.rdb

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets