<% content_for(:head) do %>
  <%= javascript_include_tag "/uv/umd/UV.js" %>
  <%= stylesheet_link_tag "/uv/uv.css" %>
  <style>#uv { width: 70vw; height: 75vh; margin-bottom: 1rem; }</style>
<% end %>

<div id="uv" class="uv" style="width:auto;"></div>

<% uvconfig = UvPresenter.new(@document) %>

<script>
  var uv = UV.init(
    "uv",
    {
      manifest: "/iiif/<%= document.id %>/manifest.json",
      config: "/uv/uvconfig.json",
    },
  );

  uv.on("configure", function ({ config, cb }) {
    cb({
      options: {
        <%= uvconfig.paging_enabled %>,

        rightPanelEnabled: false,
        useArrowKeysToNavigate: true,
      },
      // testing
      modules: {
        pagingHeaderPanel: {
          options: {
            autoCompleteBoxEnabled: false,
            imageSelectionBoxEnabled: true,
          }
        }
      }
    });
  });
</script>
