<section class="col-12" id="section-about">
  <div class="row">
    <article id="about-primary" class="col-12 col-lg-4 col-md-12">
      <div class="card h-100 ml-lg-4">
        <div class="card-body card-body-as-link">
          <h3>About UMedia</h3>
          <div class="container m-0 col-12">
            <div class="row">
              <p>UMedia provides access to digitized collections from across the University of Minnesota. These Materials inlude photographs, archives, audio, video, maps, and more, with new items added on a regular basis. These open and freely available resources support the teaching and research needs of scholars, educators, students, and the public.</p>
            </div>
            <div class="row">
              <div class="col-12" id="about-stats">
                <p>Number of collections: placeholder</p>
                <p>Digitized items: placeholder</p>
                <p>Digitized pages: placeholder</p>
              </div>
            </div>
          </div>
        </div>
        <a href="" class="btn btn-primary card-action-button">Contact UMedia</a>
      </div>
    </article>
    <article id="about-image" class="d-none d-lg-block col-12 col-lg-8 col-md-12">
      <div class="card h-100 mr-lg-4">
        <picture>
          <img class="" src="https://cdm16022.contentdm.oclc.org/digital/iiif/p16022coll175/725/full/1920,/0/default.jpg" alt="">
        </picture>
        <div class="card-body" id="about-image-attribute">
          <p>
            <a href="/">object placeholder title</a> from the <a href="/">object placeholder collection</a>
          </p>
        </div>
      </div>
    </article>
  </div>
</section>
