<footer>
  <div class="container justify-content-between" id="content">
    <%# this is messy . . . refactor the section, ul %>
    <section class="col-12">
      <h2>University of Minnesota Libraries</h2>
    </section>

    <ul id="contact">
      <li><h3>Contact the Libraries</h3></li>
      <li><a href=”/”>Live chat 24/7</a></li>
      <li><a href=”/”>Call us 612-624-3321</a></li>
      <li><a href=”/”>Email us</a></li>
    </ul>

    <section class="col-12">
      <div class="row">
        <article class="col-12 col-lg-4 col-md-6">
          <div class="card h-100  border-light mb-4">
            <div class="card-body card-body-as-link">
              <h3><a class="stretched-link" href src="">About historical language</a></h3>
              <p>U Libraries aims to describe archival materials in a manner that is respectful to the individuals and communities who create, se, and are represented in the collections we manage.</p>
            </div>
          </div>
        </article>
        <article class="col-12 col-lg-4 col-md-6">
          <div class="card h-100 border-light mb-4">
            <div class="card-body card-body-as-link">
              <h3><a class="stretched-link" href src="">Digital collection APIs</a></h3>
              <p>UMedia provides open access to digitized materials from across teh University. APIs help researchers programmatically download items from UMedia to their local computer.</p>
            </div>
          </div>
        </article>
        <article class="col-12 col-lg-4 col-md-6">
          <div class="card h-100 border-light mb-4">
            <div class="card-body">
              <h3>Related services</h3>
              <ul>
                <li><a href="https://www.lib.umn.edu/collections/special">Archives and Special Collections</a></li>
                <li><a href="https://www.lib.umn.edu/collections#digital">Digital collections</a></li>
                <li><a href="https://dp.la/">Digital Public Library of America</a></li>
                <li><a href="https://www.lib.umn.edu/services#research">Research support services</a></li>
              </ul>
            </div>
          </div>
        </article>
    </section>

    <div class="col-12" id="copyright">
      <hr>
      <p>&copy;2022 Regents of the University of Minnesota. All rights reserved. The University of Minnesota is an equal opportunity educator and employer.
        <br>
        <a href="https://www.lib.umn.edu/about/privacy">Privacy statement</a> &#124; <a href="https://policy.umn.edu/it/itresources">Acceptable Use of IT Resources</a>
      </p>
    </div>

  </div>
</footer>