<footer>
  <div class="container-fluid" id="content">
    <section class="col-12">
      <h3>University of Minnesota Libraries</h2>
    </section>
    <ul id="contact">
      <span class="d-none d-md-inline"><li class="h4">Contact the Libraries</li></span>
      <li><a href=”/”>Live chat 24/7</a></li>
      <li><a href=”/”>Call us 612-624-3321</a></li>
      <li><a href=”/”>Email us</a></li>
    </ul>
    <section class="col-12">
      <div class="row">
        <article class="col-12 col-lg-4 col-md-6 mb-4 mb-lg-0">
          <div class="card h-100 border-light">
            <div class="card-body card-body-as-link p-3">
              <h4><a class="stretched-link" href src="">About historical language</a></h4>
              <p>U Libraries aims to describe archival materials in a manner that is respectful to the individuals and communities who create, se, and are represented in the collections we manage.</p>
            </div>
          </div>
        </article>
        <article class="col-12 col-lg-4 col-md-6 mb-4 mb-lg-0">
          <div class="card h-100 border-light">
            <div class="card-body card-body-as-link p-3">
              <h4><a class="stretched-link" href src="">Digital collection APIs</a></h4>
              <p>UMedia provides open access to digitized materials from across teh University. APIs help researchers programmatically download items from UMedia to their local computer.</p>
            </div>
          </div>
        </article>
        <article class="col-12 col-lg-4 col-md-6">
          <div class="card h-100 border-light">
            <div class="card-body p-3">
              <h4>Related services</h4>
              <ul>
                <li><a href="https://www.lib.umn.edu/collections/special">Archives and Special Collections</a></li>
                <li><a href="https://www.lib.umn.edu/collections#digital">Digital collections</a></li>
                <li><a href="https://dp.la/">Digital Public Library of America</a></li>
                <li><a href="https://www.lib.umn.edu/services#research">Research support services</a></li>
              </ul>
            </div>
          </div>
        </article>
      </div>
    </section>
    <div class="col-12" id="copyright">
      <hr>
      <p>&copy;<%= Date.current.year %> Regents of the University of Minnesota. All rights reserved. The University of Minnesota is an equal opportunity educator and employer.
        <br>
        <a href="https://www.lib.umn.edu/about/privacy">Privacy statement</a> &#124; <a href="https://policy.umn.edu/it/itresources">Acceptable Use of IT Resources</a>
      </p>
    </div>
  </div>
</footer>