<footer class="">
  <div class="container justify-content-between" id="content">

    <section class="col-12">
      <div class="row">
        <div class="col-12 col-md-6">
        <h2>About</h2>
          <ul>
            <li><a href="https://umedia.lib.umn.edu/about">About UMedia</a></li>
            <li><a href="https://github.com/UMNLibraries/digital_collection_apis">Digital Collection APIs</a></li>
            <li><a href="https://www.lib.umn.edu/collections/special/historical-language">Information about historical language</a></li>
            <li><a href="https://www.lib.umn.edu/contact">Contact</a></li>
          </ul>
        </div>
        <div class="col-12 col-md-6">
        <h2>Related Resources</h2>
          <ul>
            <li><a href="https://www.lib.umn.edu/collections/special">Archives and Special Collections</a></li>
            <li><a href="https://www.lib.umn.edu/collections#digital">Digital collections</a></li>
            <li><a href="https://dp.la/">Digital Public Library of America</a></li>
            <li><a href="https://www.lib.umn.edu/services#research">Research support services</a></li>
          </ul>
        </div>
    </section>

    <div class="col-12" id="copyright">
      <hr>
      <p>&copy;2022 Regents of the University of Minnesota. All rights reserved. The University of Minnesota is an equal opportunity educator and employer.
        <br>
        <a href="https://www.lib.umn.edu/about/privacy">Privacy statement</a> &#124; <a href="https://policy.umn.edu/it/itresources">Acceptable Use of IT Resources</a>
      </p>
    </div>

  </div>
</footer>