#about {
  
}

.infographic-item__graphic {
  background: #fc3;
  display: block;
  height: 0.4em;
  margin: 0 auto 0.5em;
  width: 2em;
}

.infographic-item__number {
  font-size: 2.5em;
  margin-bottom: 0;
}