footer {
    flex-shrink: 0;
    background-color: #333;
    color: #fafafa;
    .card {
        background-color: #333;
    }
    .hr {
        background-color: #fafafa;
    }
    #content {
        margin-top: 1rem;
        padding: 0;
        padding-bottom: 2rem;
        ul {
            padding: 0;
            list-style-type: none;
        }
        a {
            color: #ffde7a;
            text-decoration: underline;
            display: block;
        }
        a:hover {
            background-color: #ffde7a;
            color: #333;
            text-decoration: none;
        }
        li {
            padding: .8rem;
        }
        li:hover {
            a {
                color: #333;
                text-decoration: none;
            }
            background-color: #ffde7a;
            padding: .8rem;
            text-decoration: none;
        }
        #contact {
            ul {
                list-style-type: none;
            }
            li {
                display: inline-block;
            }
            li:first-child:hover {
                text-decoration: none;
                background-color: #333;
            }
        }
        #copyright {
            a {
                display: inline-block;
                text-decoration: underline;
            }
            a:hover {
                background-color: #ffde7a;
                color: #333;
                text-decoration: none;
            }
        }
    }
}

html,
body {
    height: 100%;
}

// body {
//     display: flex;
//     flex-direction: column;
// }
// main {
//     flex: 1 0 auto;
// }