footer {
    flex-shrink: 0;
    background-color: #333;
    color: #fafafa;
    padding-top: .6rem;
    .card {
        background-color: #333;
    }
    .hr {
        background-color: #fafafa;
    }
    #content {
        margin-top: 1rem;
        padding: 0;
        padding-bottom: 2rem;
        font-family: Tahoma, Verdana, sans-serif;
        ul {
            padding: 0;
            list-style-type: none;
        }
        a {
            color: #ffde7a;
            text-decoration: underline;
            display: block;
        }
        a:hover,
        a:focus {
            outline: none;
            background-color: #ffde7a;
            color: #333;
            text-decoration: none;
        }
        li {
            padding: .8rem;
        }
        li:hover {
            a {
                color: #333;
                text-decoration: none;
            }
            background-color: #ffde7a;
            padding: .8rem;
            text-decoration: none;
        }
        #contact {
            ul {
                list-style-type: none;
            }
            li {
                display: inline-block;
            }
            li:first-child:hover {
                text-decoration: none;
                background-color: #333;
            }
        }
        .card-body-as-link:hover, // check for redundancy
        .card-body-as-link:focus-within {
            outline: 3px solid #ffde7a;
            outline-offset: 4px;
            a {
                background-color: #ffde7a;
                color: #333;
                text-decoration: none;
            }
        }
        #copyright {
            a {
                display: inline-block;
                text-decoration: underline;
            }
            a:hover,
            a:focus {
                background-color: #ffde7a;
                color: #333;
                text-decoration: none;
            }
        }
        hr {
            background-color: #fafafa;
            margin-top: 3rem;
            margin-bottom: 2rem;
        }
    }
}

html,
body {
    font-family: Tahoma, Verdana, sans-serif;
    line-height: 1.6;
    height: 100%;
}

* {
    border-radius: 0 !important;
}