#umn {
    padding: 0;
    background-color: #ffde7a;
    a {
        display: flex;
        align-items: center;
        height: 60px;
        padding: .75rem;
        color: #fafafa;
    }
    a:hover {
        background-color: #ffcc33;
        color: #002d61;
        text-decoration: underline;
        #lock {
            fill: #002d61;
        }
    }
    svg {
        height: 100%;
    }
    #workmark {
        fill: #fafafa;
    }
    #workmark:hover {
        background-color: #ffde7a;
        fill: #002d61;
    }
    #one_stop {
        margin-left: auto;
    }
    #lock {
        fill: #fafafa;
        padding: .25rem;
    }
}

#top {
    padding: 0;
    background-color: #333;
    // color: green;
    svg {
        height: 100%;
    }
    #logo {
        padding: .75rem;
        // fill: green;
    }
    #logo:hover {
        height: 100%;
        background-color: #ffde7a;
        fill: #002d61;
        svg #libraries {
            fill: #333;
        }
        svg #maroon-fill {
            fill: #7a0019;
        }
    }
    svg #libraries {
        fill: #fafafa;
    }
    svg #maroon-fill {
        fill: #ffcc33;
    }
}

#main {
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    #umedia {
        font-weight: bold;
        color: #fafafa;
        padding: 1rem;
    }
    a:not(:first-child) {
        color: #fafafa;
        padding: 1.25rem;
    }
    a:hover {
        background-color: #ffde7a;
        color: #333;
        text-decoration: none;
    }
    nav-link {
        color: white;
    }
}