#umn {
    padding: 0;
    background-color: #ffde7a;
    a {
        display: flex;
        align-items: center;
        height: 60px;
        padding: .75rem;
        color: #fafafa;
    }
    a:hover {
        background-color: #ffcc33;
        color: #002d61;
        text-decoration: underline;
        #lock {
            fill: #002d61;
        }
    }
    svg {
        height: 100%;
    }
    #workmark {
        fill: #fafafa;
    }
    #workmark:hover {
        background-color: #ffde7a;
        fill: #002d61;
    }
    #one_stop {
        margin-left: auto;
    }
    #lock {
        fill: #fafafa;
        padding: .25rem;
    }
}

#top {
    padding: 0;
    background-color: #333;
    // color: green;
    svg {
        height: 100%;
    }
    #logo {
        padding: .75rem;
        // fill: green;
    }
    #logo:hover {
        height: 100%;
        background-color: #ffde7a;
        fill: #002d61;
        svg #libraries {
            fill: #333;
        }
        svg #maroon-fill {
            fill: #7a0019;
        }
    }
    svg #libraries {
        fill: #fafafa;
    }
    svg #maroon-fill {
        fill: #ffcc33;
    }
}

#main {
    // background-color: rgba(0, 0, 0, .5);
    color: #fff;
    // BEGIN TESTING nav on image
    background-image: url("https://images.unsplash.com/photo-1602536021806-942116f6f56f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80");
    min-height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // position: relative;
    #main-nav {
        position: absolute;
        padding: .8rem;
        padding-left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, .5);
        overflow: hidden;
        a {
            color: #fafafa;
            padding: 1.25rem;
        }
        a:hover {
            background-color: #ffde7a;
            color: #333;
            text-decoration: none;
        }
    }
    #lil-nav {
        position: absolute;
        bottom: 4rem;
        width: 100%;
        background-color: rgba(0, 0, 0, .5);
        padding: .8rem;
        // overflow: hidden;
        text-align: right;
        // vertical-align: middle;
        // display: flex;
        // justify-content: end;
        p {
            margin-bottom: 0;
            a {
                color: #ffcc33;
                text-decoration: underline;
            }
            a:hover {
                color: #333;
                text-decoration: none;
                background-color: #ffde7a;
            }
        }
    }
    // END TESTING nav on image
    #umedia {
        font-weight: bold;
        padding: 1rem; // possibly redundant
    }
}