section[aria-label="search results"],
section[aria-label="limit your search"],
div[aria-label="Results navigation"] {
  a {
    color: #7a0019;
    text-decoration: underline;
  } 
  a:hover,
  a:focus {
    background-color: #7a0019;
    color: #fafafa;
    outline: none;
    text-decoration: none;
  }
  dt {
    padding-left: 0;
  }
  .document-type {
    font-weight: 700;
  }
  // facet border (active)
  .border-success, .facet-limit-active {
    border-color: #7a0019 !important;
  }
  .facet-limit-active .card-header {
    background-color: #7a0019 !important;
    button {
      color: #fafafa;
    }
  }
  .text-success, .facet-values li .selected {
    color: #7a0019 !important;
  }
  // facet value remove icon (X)
  .remove .remove-icon {
    color: #7a0019;
    text-decoration: underline;
  }
  .remove:hover {
    background-color: white;
    color: #fafafa;
    outline: none;
    text-decoration: none;
  }
  .remove-icon:hover {
    background-color: #7a0019;
    color: #fafafa;
  }
  // gallery view
  .thumbnail-container {
    .index_title { 
      padding-left: 0;
    }
  }
}