section[aria-label="search results"] {
  a {
    color: #0053b0;
    text-decoration: underline;
  } 
  a:hover,
  a:focus {
      background-color: #0053b0;
      color: #fafafa;
      outline: none;
      text-decoration: none;
  }
  dt {
    padding-left: 0;
  }
  .document-type {
    font-weight: 700;
  }
}