.list-group-item {
  color: #007bff;
}

.list-group-item:hover {
  color: #555;
  text-decoration: none;
  background-color: #f5f5f5;
  cursor: pointer;
  color: #007bff;
  text-decoration: underline;
}