// placholders
#spotlight {
  background-color: #f9f7f6;
  padding: 1.5rem;
  .card-body {
    border: none;
    .description {
      font-size: 1.05rem;
    }
    h2 a {
      color: #7a0019;
      text-decoration: underline;
      span {
        line-height: 1.3em;
      }
    }
    h2 {
      a:hover {
        background-color: #7a0019;
        color: white !important;
      }
    }

  }
  .exhibit-card {
    padding-bottom: none;
  }
  .empty-page-block {
      padding: 1.5rem
  }
  #content {
    background-color: #fff;
    padding: 2rem;
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, .16), 0 0 0 2px rgba(0, 0, 0, .08);
    
  }
  #published {
    .exhibit-card {
      .card-img {
        object-fit: cover;
        --div-width: 450px;
        // width: var(--div-width);
        height: calc(var(--div-width) * 1 / 2);
      }
    }
  }
  
}