html,
body {
	font-family: Tahoma, Verdana, sans-serif;
	line-height: 1.6;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow-x: hidden; 
}

* {
  border-radius: 0 !important;
}

#umedia {
	padding: 1.5rem;
	.empty-page-block {
		padding: 1.5rem
	}
}