@import "bootstrap-icons/font/bootstrap-icons";

html,
body {
	font-family: Tahoma, Verdana, sans-serif;
	line-height: 1.6;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow-x: hidden; 
}

* {
  border-radius: 0 !important;
}

.constraints-container {
	padding: 1rem 1rem 0 1rem;
}

.show-document > .constraints-container{
	padding-left: 0;
}

#umedia {
	padding: 1.5rem;
	.empty-page-block {
		padding: 1.5rem
	}
}

#blacklight-modal {
	a {
		color: #0053b0;
		text-decoration: underline;
	} 
	a:hover,
	a:focus {
		background-color: #0053b0;
		color: #fafafa;
		outline: none;
		text-decoration: none;
	}
}

#main-container {
	padding: 0;
}
@font-face {
	font-family: "bootstrap-icons";
	src: font-url("bootstrap-icons/font/fonts/bootstrap-icons.woff2") format("woff2"),
		font-url("bootstrap-icons/font/fonts/bootstrap-icons.woff") format("woff");
}

// hides attribute popup
.attribution {
  visibility: hidden;
}

// hide image text next to imageSelectionBox
.uv .headerPanel .centerOptions .mode label {
  display: none;
}
// refine imageSelectionBox placement
.uv .headerPanel .centerOptions .image-selectionbox {
  max-width: 200px;
  margin-top: 4px;
  height: 30px;
}

// Main (center panel title)
.uv .mainPanel .centerPanel .title {
  font-size: 1.75em;
}
// Contents (left panel title)
.uv .mainPanel {
  font-size: 1.25em;
}
// Contents (left panel thumbnails text)
.uv .mainPanel .leftPanel .main .tabsContent .views .thumbsView .thumbs span {
  font-size: 1em;
}
