@import "bootstrap-icons/font/bootstrap-icons";

html,
body {
  h1, h2, h3, h4 {
    font-family: Georgia, Times, "Times New Roman", serif;
  }

	font-family: Tahoma, Verdana, sans-serif;
	line-height: 1.6;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow-x: hidden; 
  border-top: 6px solid #fc3;
}

* {
  border-radius: 0 !important;
}

.constraints-container {
	padding-top: 1rem;
}

.show-document {
  padding: 0 1rem;
}

// SERP
#documents {
  a {
    color: #7a0019;
    text-decoration: underline;
  }
  a:hover {
    color: #fafafa;
    background-color: #7a0019;
    text-decoration: none;
  }
}

#umedia {
	padding: 1.5rem;
	.empty-page-block {
		padding: 1.5rem
	}
}

#blacklight-modal {
	// a {
	// 	color: #0053b0;
	// 	text-decoration: underline;
	// } 
	// a:hover,
	// a:focus {
	// 	background-color: #0053b0;
	// 	color: #fafafa;
	// 	outline: none;
	// 	text-decoration: none;
	// }
}

.btn-primary {
  background-color: #7a0019;
  border-color: #7a0019;
}
.btn-primary:hover {
  background-color: #5b0013;
  border-color: #5b0013;
  outline: .2rem solid #5b0013;
  outline-offset: .1rem;
}
.btn-outline-secondary:hover {
  background-color: #f0efee !important;
  border-color: #5b0013;
  color: #6c757d;
  outline: .2rem solid #5b0013;
  outline-offset: .1rem;
}

#main-container {
	padding: 1;
}
@font-face {
	font-family: "bootstrap-icons";
	src: font-url("bootstrap-icons/font/fonts/bootstrap-icons.woff2") format("woff2"),
		font-url("bootstrap-icons/font/fonts/bootstrap-icons.woff") format("woff");
}
