<div class="modal-body">
  <%- @response.documents.sort_by { |x| x['title_ssi'][/\d+/].to_i }.each do |doc| %>
    <% if doc['transcription_tesi'].present? %>
      <div class="modal-header">
        <h1 class="modal-title"><%= t("blacklight.transcript")%></h1>
      </div>
      <div class="transcription m-3">
        <h3 class="title"><%= doc['title_ssi'] %></h3>
        <p><%= doc['transcription_tesi'] %></p>
      </div>
    <% else %>
      <div id="transcript_hello"></div>
    <% end %>
  <% end %>
</div>

<script>
  $.ajax({
    url: location.href + "/transcript",
    cache: false,
    success: function(html){
      $("#transcript_hello").append(html);
    }
  });
</script>
